{
    "presets": [
        "@babel/preset-env",
        "@babel/typescript",
        "@babel/react"
    ],
    "plugins": [
        "ts-nameof",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-nullish-coalescing-operator",
        "@babel/proposal-optional-chaining"
    ]
}