@function table-border() {
    @return 1px solid #ddd;
}

$base-class-name: "table-view";

$scrollbar-width: 17px;

.#{$base-class-name} {

    background-color: #fff;

    width: 100%;
    overflow-y: hidden;

    &-head {
        display: flex;
        flex-flow: column;

        overflow-y: hidden;

        font-weight: bold;
        vertical-align: middle;

        & &-row {
            flex: 1;
            display: flex;
            justify-content: stretch;

            padding-right: $scrollbar-width;

            border-bottom: table-border();
        }

        & &-cell {
            flex: 1;
            display: flex;
            align-items: flex-end;
            vertical-align: bottom;
            padding: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-body {
        display: flex;
        flex-flow: column;

        vertical-align: middle;

        & &-row {
            flex: 1;
            display: flex;
            justify-content: stretch;

            border-top: table-border();

            &:first-of-type {
                border-top: none;
            }
        }

        & &-cell {
            flex: 1;
            padding: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-index-column {
        flex-basis: auto;
        min-width: 40px;
        max-width: 50px;
    }
}

.#{$base-class-name}.striped .#{$base-class-name}-body-row:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.#{$base-class-name}.bordered {

    // border: table-border();

    .#{$base-class-name}-head {

        border-top: table-border();
        border-left: table-border();

        .#{$base-class-name}-head-cell {

            border-left: table-border();

            &:first-of-type {
                border-right: table-border();
            }

            &:last-of-type {
                border-left: none;
            }
        }
    }

    .#{$base-class-name}-body {

        .#{$base-class-name}-body-cell {

            border-left: table-border();

            &:first-of-type {
                border-right: table-border();
            }
        }

        .#{$base-class-name}-body-row:last-of-type {
            border-bottom: table-border();
        }
    }

    .#{$base-class-name}-index-column {
        border-left: none !important;
    }
}

.#{$base-class-name}.hover {
    .#{$base-class-name}-body {
        .#{$base-class-name}-body-row:hover {
            background-color: #f5f5f5;
        }
    }
}